:root {
  --onyx-black: #393E41;
  --timberwolf-grey: #f1eee8;
  --vivid-skyblue: #56CBF9;
  --snow-white: #FFFBFE;
  font-family: 'Inter', sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  position: relative;
}

.desktop-navbar.col-xl-4, .row div.col-xl-4, .individual-email.col-xl-6 {
  padding: 0;
}

.desktop-compose-btn {

}

/* Navigation Styles */ 
.desktop-navbar {
  display: none;
}

.header {
  padding-top: 1em;
  position: static;
}

.nav-btn {
  border: none;
  background: transparent; 
  cursor: pointer;
}

.nav-btn:focus {
  outline: none;
} 

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transform: translateX(-100%);
}

.mobile-navigation {
  display: flex;
  flex-direction: column;
  position: absolute; 
  inset: 0 auto 0 0;
  width: 80%;
  background-color: var(--vivid-skyblue);
  z-index: 2;
  transform: translateX(-100%);
}

.avatar-icon {
  font-size: 3rem;
}

.navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1.7px;
  padding: 0.25em 0.5em;
  color: var(--snow-white);
  border-bottom: 1px solid var(--snow-white);
}

.navigation-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em; 
  list-style: none;
  padding: 0; 
  font-size: 1.8rem; 
  font-weight: 700; 
}

.active {
  transform: translateX(0%);
  animation: slide-left 0.2s ease-out;
} 

@keyframes slide-left {
  0% {
    transform: translate(-100%);
  }

  50% {
    transform: translate(-50%);
  }

  100% {
    transform: translate(0%);
  }
}

.inactive { 
  animation: slide-right 0.4s linear;
}

@keyframes slide-right {
  0% {
    transform: translate(0%);
  }

  50% {
    transform: translate(-50%);
  }

  100% {
    transform: translate(-100%);
  }
}

.fade-in {
  transform: translate(0%);
  animation: fade-in 0.5s ease-out; 
}

@keyframes fade-in {
  0% {
    transform: translate(0%);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.fade-out {
  transform: translate(-100%);
  animation: fade-out 0.8s ease-out;
}

@keyframes fade-out {
  0% { 
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    transform: translate(-100%);
  }
} 
 
.menu-item {
  margin-left: 1em;
}

.menu-item:first-child {
  margin-top: 1em;
}

.menu-link {
  display: flex;
  align-items: center;
  color: var(--snow-white);
  text-decoration: none;
}

.menu-link:hover {
  color: var(--snow-white);
  text-decoration: none;
}

.nav-icon {
  font-size: 2.5rem;
  margin-right: 0.5em;
}

.menu-item:nth-child(5) .nav-icon {
  margin-right: 0.70em;
}

.menu-item:last-child .nav-icon {
  margin-right: 0.60em;
}

/* Primary MailBox Styles */
.search {
  position: relative; 
  margin-left: 1.5rem;
}

.fa-magnifying-glass {
  position: absolute;
  left: 0.60em;
  top: 0.75em;
}

.search-bar {
  background-color: var(--timberwolf-grey);
  border: none;
  border-radius: 50px;
  padding: 0.5em 1em;
  text-indent: 1.25em;
}
 
.mail-box {
  margin-top: 1em;
}

.emails {
  position: relative;
}

.email-list { 
  list-style: none;
  padding: 0;
  margin-top: 2em;
  row-gap: 1em;
}


.email {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 
  "sd dt"
  "sb sb"
  "ld ld";
  row-gap: 0em;
  background-color: var(--timberwolf-grey);
  border-radius: 20px;
  padding: 0.75em; 
  cursor: pointer;
} 

.email:hover, .email:focus {
  background-color: rgb(245, 236, 225);
}

.sender {
  grid-area: sd;
  font-weight: 700;
}

.subject {
  grid-area: sb;
  font-size: 1.6rem;
  font-weight: 700;
}

.date {
  grid-area: dt;
  justify-self: end;
}

.lead {
  grid-area: ld;
  font-size: 1.4rem;
}

.compose-btn {
  position: fixed;
  right: 1em;
  bottom: 1em;
  color: var(--snow-white);
  background-color: var(--vivid-skyblue);
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 8px;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  transform: scale(1.0);
}

.compose-btn:hover, .compose-btn:focus {
  transform: scale(1.1);
  transition: 0.5s;
  background-color:  #24baf1; 
}

 /* Individual Email Styles */
.individual-email {
  display: none;
  position: absolute;
  z-index: 2;
  inset: 0;
  background-color: var(--snow-white);
}

.email-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--snow-white);
  background-color: var(--vivid-skyblue);
  font-size: 2rem;
  padding: 0.75em;
}

.option-menu {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 1em;
  padding: 0;
  margin: 0;
}

.option-menu > li, .back-btn {
  cursor: pointer;
}

.back-btn {
  border: none;
  background: none;
  color: var(--snow-white);
}

.option-menu > li:hover, 
.option-menu > li:focus,
.back-btn:hover,
.back-btn:focus {
  color: var(--onyx-black);
}

.email-body {
  display: grid;
  grid-template-columns: 45% 35% 10%;
  justify-content: space-between; 
  align-items: center;
  grid-template-areas: 
  "eh eh fb"
  "si si si"
  "ec ec ec";   
  row-gap: 1.5em;
  padding: 2em 1em;
}

.email-heading {
  grid-area: eh;
  font-size: 1.8rem;
  font-weight: 700;
}

.favorite-btn {
  grid-area: fb;
  font-size: 2rem;
  width: fit-content;
  border: none;
  background: transparent;
  cursor: pointer; 
  justify-self: end;
} 

.sender-content { 
  grid-area: si;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}
 
.sender-info, .sender-options {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

.sender-info {
  column-gap: 0.5em;
}

.sender-icon {
  font-size: 2.5rem;
}
 
.email-content {
  grid-area: ec;
}

@media screen and (min-width:649px) and (max-width:1199px) {

  body {
    font-size: 2rem;
 
  }
   /* Navigation Styles */
  .nav-icon {
    font-size: 3rem;
    margin-right: 0.75em;
  }  

  .navigation-header { 
    font-size: 4rem;  
  }

  .avatar-icon {
    font-size: 4rem;
  }

  .navigation-list {   
    font-size: 2.5rem; 
  } 
     
  /* Primary MailBox Styles */
  .mail-box {
    font-size: 3rem;
  }   

  .email { 
    row-gap: 0.10em; 
  }  
  
  .sender {
    font-size: 2.4rem;
  }
  
  .subject { 
    font-size: 2.0rem; 
  }
   
  .lead { 
    font-size: 1.9rem;
  }
  
  .compose-btn { 
    font-size: 2.2rem; 
  }

  /* Individual Email Styles */
  .email-header { 
    font-size: 3rem; 
  }   
  
  .email-heading { 
    font-size: 2.5rem; 
  }
  
  .favorite-btn { 
    font-size: 2.75rem; 
  } 
  
  .sender-content {    
    font-size: 2.5rem;
  } 
  .sender-icon {
    font-size: 3rem;
  }
   
  .email-content {
    grid-area: ec;
  }
}

 @media screen and (min-width: 1200px){ 

  /* Navigation Styles */

  .desktop-navbar {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    background-color: var(--vivid-skyblue);
    padding: 1.5em;
  }

  .user-account {
    display: flex;
    column-gap: 1em;
    font-size: 2rem;
    font-weight: 700;
    color: var(--snow-white);
  }


  .nav-btn, .overlay, .mobile-navigation {
    display: none; 
  } 

  .menu-item {
    margin: 0;
  }

  .menu-item:first-child {
    margin-top: 0;
  }

  .menu-link:hover, .menu-link:focus {
    color: var(--onyx-black);
  }

  /* Primary Mailbox Styles */
  .search {
    margin-left: 0;
  }

  .col-xl-4 {
    height: 100vh; 
    overflow-y: scroll;
  }

  .compose-btn {
    display: none;
  }

  .desktop-compose-btn { 
    color: var(--snow-white);
    background-color: var(--onyx-black);
    padding: 0.5em 1.5em;
    border: none;
    border-radius: 8px;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer; 
  }
  
  .desktop-compose-btn:hover, .desktop-compose-btn:focus { 
    transition: 0.5s;
    color: var(--onyx-black);
    background-color: var(--snow-white);
  }

  .navigation-list { 
    font-size: 2.25rem; 
    margin-top: 0;
  }


  /* Individual Email Styles */

  .individual-email.col-xl-6 {
    padding: 0 15px;
  }

  .individual-email {
    position: relative;
    z-index: 0;
    inset: auto; 
    background-color: var(--timberwolf-grey);
    min-height: 100vh;
  }

  .email-header {
    display: none;
  } 

  .email-body { 
    grid-template-areas: 
    "ea ea ea"
    "si si si"
    "ec ec ec"
    "rs rs rs";   
    justify-content: space-between; 
    align-items: center;
    padding: 1em 0;
  }

  .sender-icon {
    font-size: 3.5rem;
  }
  
  .email-heading {
    max-width: 465px;
  }

  .reply-section {
    grid-area: rs; 
    width: 100%;
  }

  .text-area { 
    box-sizing: border-box;
    width: 95%;
    border: none;
    border-radius: 12px;
    align-self: end;
    height: 30vh;
    padding: 0.5em 1em;
    position: absolute;
    inset: auto 1em 2em;
    resize: none;
  }
  
  .reply-btn {
    border: none;
    border-radius: 6px;
    font-size: 1.75rem;
    font-weight: 700;
    padding: 0.25em 0.5em;
    color: var(--snow-white);
    background-color: var(--vivid-skyblue);
    position: absolute;
    cursor: pointer;
    inset: auto 1.75em 2.5em auto; 
  }

  .reply-btn:hover, .reply-btn:focus {
    background-color: var(--onyx-black); 
  }

  .fa-paperclip {
    font-size: 2.5rem;
    position: absolute;
    inset: auto auto 1.75em 1em;
  }
 }
